<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NS Storingen</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#212b5c">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#fcc63f">

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <script defer src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwenrkkL9lEi3d_dlIYa1kCMmAQ9KGJMs"></script>
    <script defer src="{% static 'js/manifest.js' %}"></script>
    <script defer src="{% static 'js/vendor.js' %}"></script>
    <script defer src="{% static 'js/app.js' %}"></script>
</head>
<body>
<div id="app">
    <div class="ui grid">
        <div class="ten wide column" style="padding-bottom:0">
            <p-map></p-map>
        </div>

        <div class="six wide column v-right-bar-parent" style="padding-bottom:0">
            <div class="ns logo v-right-bar-header">
                <img height="35" src="{% static 'images/ns.gif' %}" alt="NS Logo">
            </div>
            <div class="v-right-bar-content">
                <div class="ui padded grid">
                    <div class="sixteen wide column">
                        <p-routes></p-routes>
                    </div>

                    <div class="sixteen wide column">
                        <div class="ui divider"></div>
                    </div>

                    <div class="sixteen wide column">
                        <p-reports></p-reports>
                    </div>

                    <div class="sixteen wide column">
                        <div class="ui divider"></div>
                    </div>

                    <div class="sixteen wide column">
                        <p-mechanics></p-mechanics>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- The application only has one schedule modal, its location in the document doesn't matter -->
    <p-schedule></p-schedule>
</div>
</body>
</html>