<template>
    <div>
        <button class="ui ns blue button" @click="show">
            Monteur toevoegen
        </button>

        <div class="ui ns modal" ref="createMechanic">
            <div class="header">Nieuwe monteur toevoegen</div>
            <div class="content">
                <div class="ui ns form" ref="form">
                    <div class="two fields">
                        <div class="field">
                            <label for="firstname">Voornaam</label>
                            <input type="text" name="firstname" id="firstname" v-model="mechanic.firstname">
                        </div>

                        <div class="field">
                            <label for="lastname">Achternaam</label>
                            <input type="text" name="lastname" id="lastname" v-model="mechanic.lastname">
                        </div>
                    </div>

                    <div class="field">
                        <label for="phone">Telefoonnummer</label>
                        <input type="tel" id="phone" v-model="mechanic.phone">
                    </div>

                    <div class="field">
                        <label for="street">Straat</label>
                        <input type="text" name="street" id="street" v-model="mechanic.street" @blur="lookup">
                    </div>

                    <div class="field">
                        <label for="city">Stad</label>
                        <input type="text" name="city" id="city" v-model="mechanic.city" @blur="lookup">
                    </div>

                    <div class="field">
                        <label for="zipcode">Postcode</label>
                        <input type="text" id="zipcode" v-model="mechanic.zipcode">
                    </div>

                    <div class="field">
                        <label for="province">Provincie</label>
                        <select id="province" class="ui ns search dropdown" v-model="mechanic.province">
                            <option value="Groningen">Groningen</option>
                            <option value="Friesland">Friesland</option>
                            <option value="Drenthe">Drenthe</option>
                            <option value="Overijssel">Overijssel</option>
                            <option value="Flevoland">Flevoland</option>
                            <option value="Gelderland">Gelderland</option>
                            <option value="Utrecht">Utrecht</option>
                            <option value="Noord-Holland">Noord-Holland</option>
                            <option value="Zuid-Holland">Zuid-Holland</option>
                            <option value="Zeeland">Zeeland</option>
                            <option value="Noord-Brabant">Noord-Brabant</option>
                            <option value="Limburg">Limburg</option>
                        </select>
                    </div>

                    <input type="hidden" id="lat" v-model="mechanic.lat">
                    <input type="hidden" id="long" v-model="mechanic.long">
                </div>
            </div>
            <div class="actions">
                <div class="ui ns submit positive button" :class="{'loading': saving && ! errorState, 'disabled': errorState}">Toevoegen</div>
                <div class="ui ns negative button" :class="{'disabled': saving}">Annuleren</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                saving: false,
                errorState: false,
                mechanic: {}
            };
        },

        methods: {
            show() {
                $(this.$refs.createMechanic)
                    .modal({
                        onHidden: this.clear,
                        onApprove: this.validate
                    })
                    .modal('setting', 'closable', false)
                    .modal('show');

                // Set up Semantic UI form validation.
                $(this.$refs.form).form({
                    fields: {
                        firstname: "empty",
                        lastname: "empty",
                        zipcode: "empty",
                        street: "empty",
                        city: "empty",
                        province: "empty",
                        phone: "empty",
                    },
                    onSuccess: () => this.save(),
                    onFailure: () => this.saving = false
                });


                $('#province').dropdown();
            },

            hide() {
                this.clear();
                $(this.$refs.createMechanic).modal('hide');

                this.saving = false;
            },

            validate() {
                this.saving = true;

                $(this.$refs.form).submit();

                return false;
            },

            lookup() {
                if (! this.mechanic.street || ! this.mechanic.city) {
                    return;
                }

                let locator = require('../locator');
                let args = {
                    address: this.mechanic.street,
                    city: this.mechanic.city
                };

                locator.find(args)
                    .then(this.autofill)
                    .catch(console.error);
            },

            autofill(data) {
                // If the address is not found, an empty array is returned
                if (data.length === 0) {
                    this.errorState = true;

                    $(this.$refs.form)
                        .form('add prompt', 'street')
                        .form('add prompt', 'city');

                    return;
                }

                this.errorState = false;

                this.mechanic.lat = data.lat;
                this.mechanic.long = data.long;

                // this.$set is required for dynamic updates in the DOM
                this.$set(this.mechanic, 'province', data.province);
                this.$set(this.mechanic, 'zipcode', data.zipcode);

                $('#province').dropdown('set selected', data.province);
            },

            save() {
                Mechanics.create(this.mechanic)
                    .then(() => Mechanics.refresh())
                    .then(this.hide)
                    .catch(console.error);
            },

            clear() {
                this.errorState = false;
                this.mechanic = {};

                // Clear the form of any prompts (red outlines)
                $(this.$refs.form).find('.error').removeClass('error').find('.prompt').remove();
            }
        }
    }
</script>