<template>
    <div>
        <div class="ui ns mini modal" ref="modal">
            <div class="header">
                {{ data.firstname }} {{ data.lastname }}
            </div>
            <div class="content">
                <div class="description">
                    Weet u zeker dat u {{ data.firstname }} {{ data.lastname }} wilt verwijderen?
                </div>
            </div>
            <div class="actions">
                <div class="ui ns negative button" @click="remove" :class="{loading}">Verwijderen</div>
                <div class="ui ns button" @click="hide" :class="{disabled:loading}">Annuleren</div>
            </div>
        </div>

        <button class="ui ns yellow compact icon button" @click="show">
            <i class="trash icon"></i>
        </button>
    </div>
</template>

<script>
    export default {
        props: ['data'],

        data() {
            return {
                loading: false
            };
        },

        methods: {
            show() {
                $(this.$refs.modal)
                    .modal({
                        onDeny: () => false
                    })
                    .modal('show');
            },

            hide() {
                $(this.$refs.modal).modal('hide');
            },

            onError(err) {
                console.error(err);

                this.hide();
            },

            onDelete() {
                Mechanics.refresh();

                this.hide();
            },

            remove() {
                Mechanics.destroy(this.data.id)
                    .then(this.onDelete)
                    .catch(this.onError);

                this.loading = true;
            }
        }
    }
</script>