<template>
    <div>
        <button class="ui compact ns blue icon button" @click="show">
            <i class="write icon"></i>
        </button>

        <div class="ui ns modal" ref="editModal">
            <div class="header">{{ mechanic.firstname }} {{ mechanic.lastname }}</div>
            <div class="content">
                <div class="ui ns form" ref="form">
                    <div class="two fields">
                        <div class="field">
                            <label>Voornaam</label>
                            <input type="text" name="firstname" v-model="mechanic.firstname">
                        </div>

                        <div class="field">
                            <label>Achternaam</label>
                            <input type="text" name="lastname" v-model="mechanic.lastname">
                        </div>
                    </div>

                    <div class="field">
                        <label>Telefoonnummer</label>
                        <input type="tel" v-model="mechanic.phone">
                    </div>

                    <div class="field">
                        <label>Straat</label>
                        <input type="text" v-model="mechanic.street" @blur="lookup">
                    </div>

                    <div class="field">
                        <label>Stad</label>
                        <input type="text" v-model="mechanic.city" @blur="lookup">
                    </div>

                    <div class="field">
                        <label>Postcode</label>
                        <input type="text" v-model="mechanic.zipcode">
                    </div>

                    <div class="field">
                        <label>Provincie</label>
                        <select class="ui ns search dropdown" v-model="mechanic.province" ref="province">
                            <option value="Groningen">Groningen</option>
                            <option value="Friesland">Friesland</option>
                            <option value="Drenthe">Drenthe</option>
                            <option value="Overijssel">Overijssel</option>
                            <option value="Flevoland">Flevoland</option>
                            <option value="Gelderland">Gelderland</option>
                            <option value="Utrecht">Utrecht</option>
                            <option value="Noord-Holland">Noord-Holland</option>
                            <option value="Zuid-Holland">Zuid-Holland</option>
                            <option value="Zeeland">Zeeland</option>
                            <option value="Noord-Brabant">Noord-Brabant</option>
                            <option value="Limburg">Limburg</option>
                        </select>
                    </div>

                    <input type="hidden" v-model="mechanic.lat">
                    <input type="hidden" v-model="mechanic.long">
                </div>
            </div>
            <div class="actions">
                <div class="ui ns submit positive button" @click="validate" :class="{'loading': saving}">Bijwerken</div>
                <div class="ui ns negative button" @click="cancel" :class="{'disabled': saving}">Annuleren</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['data'],

        data() {
            return {
                saving: false,
                original: _.assign({}, this.data),
                mechanic: this.data,
                form: null
            };
        },

        methods: {
            show() {
                $(this.$refs.editModal)
                    .modal({
                        onApprove: () => false
                    })
                    .modal('setting', 'closable', false)
                    .modal('show');

                this.form.form({
                    fields: {
                        firstname: "empty",
                        lastname: "empty",
                        zipcode: "empty",
                        street: "empty",
                        city: "empty",
                        province: "empty",
                        phone: "empty",
                    },
                    onSuccess: () => {
                        this.save();
                        return false;
                    },
                    onFailure: () => this.saving = false
                });

                $(this.$refs.province)
                    .dropdown()
                    .dropdown('set selected', this.mechanic.province);
            },

            hide() {
                $(this.$refs.editModal).modal('hide');
            },

            cancel() {
                this.mechanic = this.original;
                this.hide();
            },

            validate() {
                this.saving = true;
                this.form.submit();

                return false;
            },

            lookup() {
                if (!this.mechanic.street || !this.mechanic.city) {
                    return;
                }

                let locator = require('../locator');

                locator.find({
                    address: this.mechanic.street,
                    city: this.mechanic.city
                }).then(this.autofill);
            },

            autofill(data) {
                this.mechanic.lat = data.lat;
                this.mechanic.long = data.long;

                // this.$set is required for dynamic updates in the DOM
                this.$set(this.mechanic, 'province', data.province);
                this.$set(this.mechanic, 'zipcode', data.zipcode);

                $(this.$refs.province).dropdown('set selected', data.province);
            },

            save() {
                Mechanics.update(this.mechanic)
                    .then(() => this.original = _.assign({}, this.mechanic))
                    .then(() => this.saving = false)
                    .then(() => Mechanics.refresh())
                    .then(this.hide)
                    .catch(console.error);

                return false;
            }
        },

        mounted() {
            this.form = $(this.$refs.form);
        }
    }
</script>