<template>
    <div>
        <div class="ui ns mini modal" ref="modal">
            <div class="header">
                Melding afronden
            </div>
            <div class="content">
                <div class="description">
                    Weet u zeker dat u deze melding wilt afronden?
                </div>
            </div>
            <div class="actions">
                <div class="ui ns positive button" @click="remove" :class="{loading}">Afronden</div>
                <div class="ui ns button" @click="hide" :class="{disabled:loading}">Annuleren</div>
            </div>
        </div>

        <button class="ui ns blue compact icon button" @click="show">
            <i class="flag checkered icon"></i>
        </button>
    </div>
</template>

<script>
    export default {
        props: ['data'],

        data() {
            return {
                loading: false
            };
        },

        methods: {
            show() {
                $(this.$refs.modal)
                    .modal({
                        onDeny: () => false
                    })
                    .modal('show');
            },

            hide() {
                this.loading = false;
                $(this.$refs.modal).modal('hide');
            },

            onError(err) {
                console.error(err);

                this.hide();
            },

            onDelete() {
                const params = {
                    station: this.data.station
                };

                axios.get('/api/malfunction/finalize', {params})
                    .then(() => {
                        Malfunctions.refresh();
                        this.hide();
                    });
            },

            remove() {
                Malfunctions.destroy(this.data.id)
                    .then(this.onDelete)
                    .catch(this.onError);

                this.loading = true;
            }
        }
    }
</script>