<template>
    <div class="ui cards">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">
                    <i class="address card outline icon"></i>
                    MONTEURS
                </div>
            </div>
            <div class="description">
                <create-mechanic></create-mechanic>

                <div class="ui ns middle aligned list">
                    <div class="item" v-for="mech in mechanics">
                        <div class="content">
                            <div class="header">
                                {{ mech.firstname }} {{ mech.lastname }}
                            </div>
                            <div class="description">Woonzaam in {{ mech.city }}</div>
                        </div>
                        <div class="right floated content">
                            <div class="ui three buttons">
                                <div>
                                    <button class="ui ns blue compact labeled icon button" @click="openSchedule(mech.id)">
                                        <i class="calendar outline icon"></i> Rooster
                                    </button>
                                </div>
                                <edit :data="mech"></edit>
                                <delete :data="mech"></delete>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                mechanics: []
            };
        },

        components: {
            'create-mechanic': require('./CreateMechanic.vue'),
            'delete': require('./DeleteMechanic.vue'),
            'edit': require('./EditMechanic.vue')
        },

        methods: {
            openSchedule(id) {
                Bus.$emit('schedule.show', id);
            },

            fetch() {
                Mechanics.get().then(m => this.mechanics = m);
            },

            refresh(mechanics) {
                this.mechanics = mechanics;
            }
        },

        mounted() {
            this.fetch();

            Bus.$on('mechanics.refreshed', this.refresh);
        }
    }
</script>