<template>
    <div>
        <button class="ui ns blue button" @click="show">
            Storing melden
        </button>

        <div class="ui ns mini modal" ref="reportMalfunction">
            <div class="header">
                Storing melden
            </div>
            <div class="content">
                <div class="ui ignored info message">
                    Geef in het veld hieronder het station op waar de kaartenautomaat kapot is.
                </div>
                <div class="ui ns form">
                    <div class="field">
                        <label>Station</label>
                        <select class="ui ns search dropdown" v-model="station" ref="stations">
                            <option v-for="station in stations" v-bind:value="station.names.long"
                                    v-text="station.names.long"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui ns submit positive button" :class="{'loading': saving}">Melden</div>
                <div class="ui ns negative button" :class="{'disabled': saving}">Annuleren</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                saving: false,
                station: '',
                resolvedStation: null,
                stations: []
            };
        },

        methods: {
            show() {
                $(this.$refs.reportMalfunction)
                    .modal({
                        onApprove: () => this.save()
                    })
                    .modal('show');
            },

            save() {
                this.saving = true;

                for (let i = 0; i < this.stations.length; i++) {
                    if (this.stations[i].names.long === this.station) {
                        this.resolvedStation = this.stations[i];
                    }
                }

                let reportedAt = moment.utc().format('YYYY-MM-DD HH:mm');
                let attributes = {
                    station: this.resolvedStation.names.long,
                    reportedAt
                };

                Malfunctions.create(attributes)
                    .then(this.sendMessageInTelegram)
                    .then(this.afterSave)
                    .then(() => this.saving = false);

                return false;
            },

            sendMessageInTelegram() {
                const params = {
                    station: this.resolvedStation.names.long,
                    lat: this.resolvedStation.lat,
                    lon: this.resolvedStation.lon
                };

                return axios.get('/api/malfunction/report', {params});
            },

            afterSave() {
                Malfunctions.refresh();

                $(this.$refs.reportMalfunction)
                    .modal('hide');
            }
        },

        mounted() {
            Stations.get().then(s => this.stations = s);
            $(this.$refs.stations).dropdown();
        }
    }
</script>