<template>
    <div class="ui cards">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">
                    <i class="configure icon"></i>
                    STORINGEN
                </div>
            </div>
            <div class="description">
                <report-malfunction></report-malfunction>

                <div v-if="! loading" class="ui ns middle aligned list">
                    <div class="item" v-if="! malfunctions.length">
                        <i class="info circle icon blue"></i>
                        <div class="content">
                            <div class="header">
                                Er zijn op dit moment geen storingen
                            </div>
                            <div class="description">Druk op de <b>Storing melden</b> knop om er een te melden.</div>
                        </div>
                    </div>
                    <div class="item" v-for="malfunction in malfunctions">
                        <div class="right floated content">
                            <div class="ui two buttons">
                                <finalize-malfunction :data="malfunction"></finalize-malfunction>
                                <delete-malfunction :data="malfunction"></delete-malfunction>
                            </div>
                        </div>
                        <i class="warning sign icon orange"></i>
                        <div class="content">
                            <div class="header">
                                Storing gemeld op station {{ malfunction.station}}
                            </div>
                            <div class="description">Gemeld op {{ malfunction.reportedAt }} ({{ malfunction.fromNow }}).</div>
                        </div>
                    </div>
                </div>
                <div v-else class="ui ns middle aligned list">
                    <div class="ui loader"></div>
                     <div class="item">
                        <div class="ui active centered inline loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                loading: true,
                malfunctions: []
            };
        },

        components: {
            'report-malfunction': require('./ReportMalfunction.vue'),
            'delete-malfunction': require('./DeleteMalfunction.vue'),
            'finalize-malfunction': require('./FinalizeMalfunction.vue')
        },

        methods: {
            fetch() {
                Malfunctions.get().then(this.formatMalfunctions);
            },

            formatMalfunctions(malfunctions) {
                for (let i = 0; i < malfunctions.length; i++) {
                    let time = moment.utc(malfunctions[i].reportedAt).local();

                    malfunctions[i].reportedAt = time.format('dddd D MMMM [om] HH:mm');
                    malfunctions[i].fromNow = time.fromNow();
                }

                this.malfunctions = malfunctions;
                this.loading = false;
            }
        },

       mounted() {
          this.fetch();

          Bus.$on('malfunctions.refreshed', this.formatMalfunctions);
       }
    }
</script>