<template>
    <div class="ui cards">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">
                    <i class="road icon"></i>
                    ROUTES
                </div>
                <div class="description">
                    <div class="ui ns form">
                        <div class="two fields">
                            <div class="field">
                                <label>Monteur</label>
                                <select class="ui ns search dropdown" v-model="selected.mechanic" ref="mechanics">
                                    <option v-for="mech in mechanics" :value="mech.id"
                                            v-text="mech.firstname + ' ' + mech.lastname"></option>
                                </select>
                            </div>

                            <div class="field">
                                <label>Station</label>
                                <select class="ui ns search dropdown" v-model="selected.station" ref="stations">
                                    <option v-for="station in stations" v-bind:value="station.names.short"
                                            v-text="station.names.long"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui ns blue button" :class="{loading}" @click="route">
                        Route tonen
                    </div>

                    <div class="ui ns yellow button" :class="{disabled:loading}" @click="clear">
                        Route weghalen
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                // Select mechanic (ID) and station (short name)
                selected: {
                    mechanic: null,
                    station: null
                },

                // Lists of all mechanics and stations
                mechanics: [],
                stations: [],

                // Google Maps route renderer, resets after every route
                renderer: null,

                // Shows the loading animation on the search button
                // and disables the clear button
                loading: false
            };
        },

        methods: {
            route() {
                if (!this.selected.mechanic || !this.selected.station) {
                    return;
                }

                this.loading = true;

                // Find mechanic and station by their respective property
                let mechanic = _.find(this.mechanics, m => m.id === this.selected.mechanic);
                let station = _.find(this.stations, s => s.names.short === this.selected.station);

                // Destination is int latitude / longitude form
                let dest = new google.maps.LatLng(
                    parseFloat(station.lat),
                    parseFloat(station.lon)
                );

                /*
                    If the renderer is not cleared, the map
                    won't render any new routes it gets.
                 */
                this.resetRenderer();

                // Make the request
                Router
                    .route(`${mechanic.street}, ${mechanic.city}`, dest)
                    .then(result => {
                        Bus.$emit('map.markers.hide');
                        this.renderer.setDirections(result);
                        this.loading = false;
                    })
                    .catch(console.error);
            },

            clear() {
                Bus.$emit('map.markers.show');
                Map.resetView(); // reset zoom and focus on the whole country
                this.resetRenderer();
            },

            resetRenderer() {
                if (this.renderer) {
                    this.renderer.setMap(null);
                    this.renderer = null;
                }

                this.renderer = new google.maps.DirectionsRenderer();
                this.renderer.setMap(Map.get());
            }
        },

        mounted() {
            Mechanics.get().then(m => this.mechanics = m);
            Stations.get().then(s => this.stations = s);

            $(this.$refs.mechanics).dropdown();
            $(this.$refs.stations).dropdown();

            Bus.$on('mechanics.refreshed', m => this.mechanics = m);
        }
    }
</script>