<template>
    <div>
        <div class="ui ns large modal" ref="schedule">
            <div class="header">Rooster bewerken</div>
            <div class="content">
                <div class="ui inverted dimmer" :class="{active: loading && open}">
                    <div class="ui loader"></div>
                </div>

                <div id="scheduler" class="dhx_cal_container" style="width:100%;height:70vh">
                    <div class="dhx_cal_navline">
                        <div class="dhx_cal_prev_button">&nbsp;</div>
                        <div class="dhx_cal_next_button">&nbsp;</div>
                        <div class="dhx_cal_today_button"></div>
                        <div class="dhx_cal_date"></div>
                    </div>
                    <div class="dhx_cal_header"></div>
                    <div class="dhx_cal_data"></div>
                </div>
            </div>
            <div class="actions">
                <div class="ui ns submit positive button" :class="{'loading': loading}">Aanpassen</div>
                <div class="ui ns negative button" :class="{'disabled': loading}">Annuleren</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            /*
                The scheduler works by keeping a change set of local changes for added, changed or removed events.
                When the user saves, the change set is send to the server which will process them.
            */
            return {
                id: null,
                originalEvents: [],
                events: {
                    added: [],
                    changed: [],
                    removed: [],
                },
                open: false,
                loading: true
            };
        },

        methods: {
            show() {
                $(this.$refs.schedule)
                    .modal({
                        onHidden: this.hide,
                        onApprove: this.save
                    })
                    .modal('setting', 'closable', false)
                    .modal('show');

                this.open = true;

                scheduler.init('scheduler', null, 'week');
                axios.get(`/api/schedule/${this.id}`)
                    .then(this.finish)
                    .catch(console.error);
            },

            save() {
                // Delete the id's for the added events, as the
                // database will generate the final ones
                for (let i = 0; i < this.events.added.length; i++) {
                    delete this.events.added[i].id;
                }

                let params = {
                    schedules: this.events
                };

                this.loading = true;

                axios.post(`/api/schedule/${this.id}/save`, params)
                    .then(this.saveDone)
                    .catch(console.error);

                return false;
            },

            saveDone() {
                this.hide();
                this.loading = false;
            },

            hideLightbox() {
                scheduler.endLightbox(false, $('.dhx_cal_light').get(0));
            },

            hide() {
                // If the lightbox is open, we should close it.
                // https://forum.dhtmlx.com/viewtopic.php?f=6&t=32313
                this.hideLightbox();
                this.cleanScheduler();
                this.open = false;

                $(this.$refs.schedule)
                    .modal('hide');
            },

            finish({data}) {
                const format = 'DD-MM-YYYY HH:mm';
                const text = 'Gepland';

                // Clear the originalEvents array as it may have been set before
                this.originalEvents = [];

                for (let i = 0; i < data.length; i++) {
                    let start_date = moment.utc(data[i].fields.start).local().format(format);
                    let end_date = moment.utc(data[i].fields.end).local().format(format);

                    let item = {
                        id: data[i].pk,
                        start_date, end_date, text
                    };

                    /*
                        Items are added one by one, because scheduler.parse(...)
                        doesn't correctly parse the dates. As a consequence, this will trigger the 'eventAdded' event,
                        there is a check in the eventAdded handler to exclude original events from the events.added array.
                    */
                    this.originalEvents.push(item);
                    scheduler.addEvent(item);
                }

                this.loading = false;
            },

            cleanScheduler() {

                scheduler.clearAll();

                // Reset the events to the default
                this.originalEvents = [];
                this.events = _.assign({}, {
                    added: [],
                    changed: [],
                    removed: [],
                });
            },

            eventChanged(id, event) {
                // Check if the changed event is a new event
                for (let i = 0; i < this.events.added.length; i++) {
                    if (this.events.added[i].id == id) { // Expected type coercion
                        this.events.added[i] = event;
                        return;
                    }
                }

                // If the event has changed before, edit the changed entry
                for (let i = 0; i < this.events.changed.length; i++) {
                    if (this.events.changed[i].id == id) { // Expection type coercion
                        this.events.changed[i] = event;
                        return;
                    }
                }

                // This is a newly changed event
                this.events.changed.push(event);
            },

            eventAdded(id, event) {
                for (let i = 0; i < this.originalEvents.length; i++) {
                    if (this.originalEvents[i].id === id) {
                        return;
                    }
                }

                this.events.added.push(event);
            },

            eventDeleted(id) {
                this.hideLightbox();

                // First, we need to check if the deleted event was a event not currently saved in the database
                for (let i = 0; i < this.events.added.length; i++) {
                    if (this.events.added[i].id == id) { // Expected type coercion
                        this.events.added.splice(i, 1);
                        return;
                    }
                }

                // If the user made changes to the event before deleting it, it will exists in
                // the changed array
                for (let i = 0; i < this.events.changed.length; i++) {
                    if (this.events.changed[i].id == id) { // Expected type coercion
                        this.events.changed.splice(i, 1);
                    }
                }

                // Event exists in the database
                this.events.removed.push(id);
            },
        },

        mounted() {
            scheduler.config.select = false;
            scheduler.config.time_step = 10;
            scheduler.config.lightbox.sections = [
                {name: "time", height: 72, type: "time", map_to: "auto"}
            ];

            // Disable dragging
            scheduler.attachEvent('onBeforeDrag', () => false);

            scheduler.attachEvent('onEventChanged', this.eventChanged);
            scheduler.attachEvent('onEventAdded', this.eventAdded);
            scheduler.attachEvent('onEventDeleted', this.eventDeleted);

            Bus.$on('schedule.show', id => {
                this.id = id;
                this.show()
            });
        }
    }
</script>