@import "~semantic-ui-css/semantic";
@import "~dhtmlx-scheduler/codebase/dhtmlxscheduler";
@import "~semantic-ui-calendar/dist/calendar";

$ns-yellow: rgb(230, 181, 23);
$ns-dark-yellow: rgb(255, 201, 23);

$ns-blue: rgb(0, 121, 211);
$ns-dark-blue: rgb(0, 48, 130);

.dhx_cal_light {
    z-index: 9950;
}

.dhtmlx-alert {
    z-index: 9999;
}

body {
    height: 100vh;
       background-color: rgb(230, 230, 233);
}

#map {
    height: 100vh;
    width: 100%;
}

.ui .cards, .card {
    background-color: $ns-dark-yellow !important;
}

.card {
    .header {
        color: $ns-dark-blue !important;
    }

    border: 0 !important;
    box-shadow: none !important;
}

.ns.dropdown,
.ui.ns.button,
.ui.ns.dropdown .menu,
.ns.modal,
.ns.menu {
    border-radius: 0 !important;
}

.ns.dropdown .dropdown.icon{
    color: $ns-dark-blue;

    &:hover {
        background-color: $ns-blue;
        color: white;
    }
}

.ns.dropdown .menu .item {
    color: $ns-blue;

    &:hover {
        color: white;
        background-color: $ns-dark-blue;
    }
}

.ui.ns.button {
    font-weight: normal;

    -webkit-transition: box-shadow .15s ease-in-out;
    -moz-transition: box-shadow .15s ease-in-out;
    -o-transition: box-shadow .15s ease-in-out;
    transition: box-shadow .15s ease-in-out;
}

.ui.ns.blue.button, .ui.ns.positive.button {
    background-color: $ns-blue;

    box-shadow: inset 0 -0.125rem 0 #005ca0 !important;

    &:hover {
        box-shadow: inset 0 -3.125rem 0 #005ca0 !important;
    }
}

.ui.ns.yellow.button, .ui.ns.negative.button {
    color: $ns-dark-blue;
    background-color: $ns-yellow;

    box-shadow: 0 -0.125rem 0 #cfa317 inset !important;

    &:hover {
        box-shadow: 0 -3.125rem 0 #cfa317 inset !important;
    }
}

.ns.form {
    input {
        border-radius: 0 !important;
    }
}

.ui.ns.list .item {
    background-color: white;
    padding: 1rem 1.125rem .6875rem .875rem;
    margin: 0 .3125rem .625rem;
    font-weight: 400;
    box-shadow: inset 0 -0.125rem 0 #e6e6e9;
}

.ui.ns.list .content {
    display: inline-block;
}

.ns.logo {
    color: $ns-dark-blue;
    margin: 0 auto;
    text-align: center;
}

.v-right-bar-parent {
    background-color: white;

    -webkit-box-shadow: -3px 0px 0px 0px $ns-yellow;
    -moz-box-shadow: -3px 0px 0px 0px $ns-yellow;
    box-shadow: -3px 0px 0px 0px $ns-yellow;
}

.v-right-bar-header {
    height: 8vh;
    padding-top: 1.5vh;
    padding-bottom: 0.5vh;
}

.v-right-bar-content {
    position: relative;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
}